*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}
body{
    background: var(--secondary-color);
    background-image: url(main-photo.png);
    background-size: 800px;
    margin-bottom: 20vh;
    margin-right: 20vh;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100vh;
    display: grid;
} 
:root{
    --primary-color: #fff;
    --secondary-color: #0D0727;

    
}
.dark-theme{
    --primary-color: #0d0727;
    --secondary-color: #fff;
}
#icon{
    width: 30px;
    position: absolute;
    cursor: pointer;
}
header{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding:0 6%;
}
header h3{
    font-size: 20px;
    margin: 5px 10px;
    color: #681DFE;
    justify-content: center;
}
header .header a{
    font-size: 17px;
    font-weight: 300;
    color: var(--primary-color);
    margin: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    justify-content: space-around;
}
header .header a:hover{
    transition:all 0.5s ease;
    background-color: #681DFE;
    box-shadow:  0 0 10px #ffffff,  0 0 50px #fff, 0 0 100px #fff;
    padding: 10px;
}
header .sign a{
    margin: 5px 10px;
    font-size: 17px;
    color: #fff;
}
.enter{
    border:  3px solid var(--primary-color);
    padding: 7px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.enter:hover{
    border: 3px solid #681DFE;
    background-color: #681DFE;
    color: var(--primary-color);
    box-shadow:  0 0 10px #681DFE,  0 0 50px #681DFE;
    transition: all 0.5s ease;
}
.start{
    background-color: #681DFE;
    border:  3px solid #681DFE;
    padding: 7px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.start:hover{
    transition: all 0.5s ease;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    box-shadow:  0 0 10px var(--primary-color),  0 0 50px var(--primary-color);
    color: #681DFE;
}


.suret{
    
}

.from-box{
    width: 380px;
    height: 480px;
    border-radius: 7%;
    position: relative;
    margin: 6% auto;
    background: var(--primary-color);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #f400cf1f; */
    border-radius: 50px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    border-radius: 20px;
    transition: all 0.5s ease;
    color: var(--secondary-color);
}
.toggle-btn:hover{
    /* border: 3px solid #fa05ff; */
    background-color: #681DFE;
    color: #fff;
    box-shadow:  0 0 10px #681DFE,  0 0 50px #681DFE;
    transition: all 0.5s ease;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 90px;
    height: 100%;
    background-color: #681DFE;
    border-radius: 30px;
    transition: .5s;
    
}
.social-icons{
    margin: 350px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
}
.input-group{
    top: 140px;
    position: absolute;
    width: 200px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999; 
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: #fff;
    background-color: #681DFE;
    border: 0;
    outline: none;
    border-radius: 10px;
}
.checkbox{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 87px;
}
#register{
    left: 450px;
}


.pak{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: start;
    margin-top: 5vh;
    padding:0 70px;
}
.footer-back{
    position: relative;
    overflow: hidden;
}
.footer-card h3{
    color: #681DFE;
    font-size: 20px;
}
.footer-content{
    padding: 2rem 0;
    line-height: 1.2;
}
.footer-content p{
    color: #7f7f7f;
    letter-spacing: 1px;
}
.footer-content a{
    display: flex;
    line-height: 2.5;
    color: var(--primary-color);
    font-size: 15px;
}
.footer-content i{
    margin-top: 13px;
    padding: 0 10px;
}
.icons-footer{
    text-align: center;
    margin: 10px;
    
}
.color-footer{
    margin-top: 10px;
    text-align: center;
}
.color-footer i{
    margin: 15px;
    background: var(--primary-color);
    padding: 10px 12px 10px 12px;
    border-radius: 50%;
    font-size: 20px;
    
    transition: 0.5s;
}
.color-footer i:hover{
    transition: 0.5s;
    color: #681DFE;
    transform: scale(1.2);
    background: var(--secondary-color);
}





