*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}

body{
    background: var(--primary-color);
    background-image: url(delivery-1768779.png);
    background-size: 600px;
    margin-bottom: 20vh;
    margin-right: 20vh;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100vh;
    display: grid;
} 
@media(max-width:1063px){
    body{
        background-image: none;
    }
}


nav{
    /* background: #1b1b1b; */
  }
  
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  
  nav .logo{
    float: left;
    color: #681DFE;
    font-size: 15px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    padding-right: 40px;
    transition: .7s;
  }
  
  
  nav ul{
    float: left;
    list-style: none;
    margin-left: 30vh;
    position: relative;
  }
  
  .signbar{
    float: right;
  }
  
  nav ul li{
    z-index: 1;
    float: left;
    display: inline-block;
    /* background: #1b1b1b; */
    margin: 0 5px;
  }
  
  nav ul li a{
    color: var(--four-color);
    text-decoration: none;
    line-height: 70px;
    font-size: 15px;
    padding: 8px 15px;
    transition: all 0.5s ease;
  }
  
  nav ul li a:hover{
    transition: all 0.5s ease;
    border-radius: 5px;
    background: #681DFE;
    box-shadow: 0 0 10px #681DFE, 0 0 20px #681DFE;
  }
  

  
  nav ul ul{
    z-index: 1;
    position: absolute;
    top: 90px;
    border-top: 3px solid #000;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  
  nav ul ul ul{
    border-top: none;
  }
  
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  
  nav ul ul li{
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);    
  }
  
  nav ul ul li a{
    line-height: 50px;
  }
  
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  
  .fa-plus{
    margin-left: 40px;
    font-size: 15px;
  }
  
  .show, .icon, input{
    display: none;
  }
  
  .d-m{
    color: white;
    transition: .6s;
  }
  
  #sun:hover{
    color: #FF7D00;
    transition: .5s;
  }
  
  .fa-solid{
    position: relative;
    top: 20px;
    font-size: 25px;
    padding-right: 20px;
  }
  
  @media all and (max-width: 968px){
    nav ul{
        margin-right: 0;
        float: left;
    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li{
        position: static;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul ul a{
        padding-left: 80px;
    }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: #FF7D00;
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
        transition: 1s;
    }
    .icon:hover{
      transform: rotate(90deg);
      transition: 1s;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
  }






#icon{
    width: 30px;
    cursor: pointer;
}
:root{
    --primary-color: #0D0727;
    --secondary-color: #212121;
    --thrid-color: #fff;
    --four-color: #fff;
}
.dark-theme{
    --primary-color: #fff;
    --secondary-color: #fff;
    --thrid-color: #212121;
    --four-color: #0D0727;
}






.container{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
}
.container-content{
    position: relative;
    text-align: left;
    margin-top: 30vh;
    margin-left: 15vh;
    transition: 0.5s;
}
.container-content h1{
    color: #fff;
    font-size: 15vh;
    font-weight: 600;
    letter-spacing: 1px;
}
.container-content span{
    color: #681DFE;
}
@media(max-width:1050px){
    .container-content h1{
        text-align: center;
    }
}
@media(max-width:567px){
    .container-content h1{
        font-size: 13vh;
    }
}




.about{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 10vh;
    background: #681DFE;
    padding: 20px;
    margin-top: 60vh;
}
.liner{
    width: 5%;
    height: 5px;
    background: #681DFE;
    margin-left: 47%;
    border-radius: 10px;
    margin-top: 1vh;
}
.about-content{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 5vh;
}
.about-content p{
    margin-top: 5vh;
    font-size: 17px;
    padding:0 200px;
    line-height: 1.7;
    letter-spacing: 1px;
}
@media(max-width:1066px){
    .about-content{
        font-size: 15px;
    }
    .about{
        font-size: 20px;
    }
    .about-content p{
        font-size: 13px;
        padding: 0 150px;
    }
}
@media(max-width:925px){
    .about-content p{
        font-size: 12px;
        padding: 0 100px;
    }
    .about-content{
        font-size: 10px;
    }
    .about{
        font-size: 15px;
        padding: 10px;
    }
}
@media(max-width:823px){
    .about-content p{
        font-size: 10px;
    }
}
@media(max-width:590px){
    .about-content p{
        padding: 0 50px;
    }
}




.our-goal {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 10vh;
}
.our-goal span{
    color: #681DFE;
}
.goal{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-top: 10vh;
}
@media(max-width:1286px){
    .goal img{
        width: 80%;
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: 15vh;
    }
}
@media(max-width:928px){
    .our-goal{
        font-size: 25px;
    }
}
@media(max-width:847px){
    .our-goal{
        font-size: 20px;
    }
    .goal img{
        width: 75%;
    }
}
@media(max-width:660px){
    .our-goal{
        font-size: 15px;
    }
    .goal img{
        width: 70%;
    }
}
@media(max-width:595px){
    .goal img{
        width: 65%;
    }
}




.advantages{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 10vh;
}
.advantages p{
    font-size: 15px;
    margin: 20px 0;
    color: #681DFE;
}
.advantages span{
    color: #681DFE;
}
.all-of-advantages{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items:center;
    width: 80%;
    margin-left: 9%;
    margin-top: 50px;
}
.advantages-back{
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    background: #681DFE;
    padding: 10px;
    border-radius: 20px;
}
.advantages-back:hover{
    transition: 0.5s;
    background: linear-gradient( 45deg, #5A3BA1, #7462ff, #fa05ff, #d5256b);
    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
    transform: translateY(-10px);
}
@keyframes color{
    0%{
        background-position: 0 50%;
        box-shadow: 0 0 10px #5A3BA1, 0 0 20px #7462ff, 0 0 30px #5A3BA1, 0 0 40px #5A3BA1;
    }
    50%{
        background-position: 100% 50%;
        box-shadow: 0 0 10px #d5256b, 0 0 20px #d5256b, 0 0 30px #d5256b, 0 0 40px #d5256b;
    }
    100%{
        background-position: 0 50%;
        box-shadow: 0 0 10px #5A3BA1, 0 0 20px #5A3BA1, 0 0 30px #5A3BA1, 0 0 40px #5A3BA1;
    }
}
.adv-img{
    width: 25%;
    display: block;
    object-fit: cover;
    margin-left: 37%;
}
.advantages-content{
    padding: 1rem;
}
.adv-header{
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
.adv-footer{
    color: #fff;
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
}
.lines{
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
}
@media(max-width:1263px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
    .adv-header{
        font-size: 15px;
    }
    .adv-footer{
        font-size: 13px;
    }
}
@media(max-width:1022px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .adv-header{
        font-size: 11px;
    }
    .adv-footer{
        font-size: 10px;
    }
}
@media(max-width:928px){
    .advantages h1{
        font-size: 29px;
    }
    .advantages p{
        font-size: 10px;
    }
}
@media(max-width:862px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    .adv-header{
        font-size: 8px;
    }
    .adv-footer{
        font-size: 7px;
    }
}
@media(max-width:847px){
    .advantages h1{
        font-size: 27px;
    }
    .advantages p{
        font-size: 8px;
    }
}
@media(max-width:780px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    .adv-header{
        font-size: 7px;
    }
    .adv-footer{
        font-size: 6px;
    }
}
@media(max-width:704px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    .adv-header{
        font-size: 5px;
    }
    .adv-footer{
        font-size: 4px;
    }
}
@media(max-width:660px){
    .advantages h1{
        font-size: 25px;
    }
    .advantages p{
        font-size: 1px;
    }
}
@media(max-width:624px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit,minmax(9rem, 1fr));
    }
}
@media(max-width:550px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
}
@media(max-width:473px){
    .all-of-advantages{
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        /* width: 50%; */
    }
}






.study{
    text-align: center;
    background: #fff;
    /* font-size: 20px; */
    padding: 30px;
    margin: 150px;
    border-radius: 20px;
}
.study h1{
    font-size: 50px;
}
.study span{
    color: #681DFE;
}
.study p{
    font-size: 15px;
    margin-top: 5vh;
    padding: 0 40px;
}
.study h4{
    margin-top: 10vh;
    font-size: 15px;
}
.all-of-study{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
    align-items: start;
    margin-top: 2vh;
}
.study-back{
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.study-img{
    width: 70%;
    object-fit: cover;
}
.study-tagline{
    font-size: 15px;
}
@media(max-width:1146px){
    .all-of-study{
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    .study h1{
        font-size: 30px;
    }
    .study-tagline{
        font-size: 1px;
    }
    .study-img{
        width: 60%;
    }
}
@media(max-width:1085px){
    .study h1{
        font-size: 25px;
    }
    .study p{
        padding: 0;
        font-size: 13px;
    }
    .study h4{
        font-size: 13px;
    }
    .all-of-study{
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    }
}
@media(max-width:955px){
    .all-of-study{
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }
    .study-tagline{
        font-size: 2px;
    }
    .study{
        padding: 20px;
    }
}
@media(max-width:868px){
    .all-of-study{
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    }
}



.opinion-student{
    text-align: center;
    font-size: 30px;
    margin-top: 20vh;
    color: #fff;
}
.opinion-student span{
    color: #681DFE;
}
.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background: #fff;
    filter: blur(4px);
    border-radius: 20px;
}

.swiper-slide-active{
    filter: blur(0px);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
    transition: 0.6s;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.testimonialBox{
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}
.testimonialBox .quote{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}
.testimonialBox .details{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.testimonialBox .details .ImgBx{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.testimonialBox .details .ImgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonialBox .details h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
}
.testimonialBox .details h3 span{
    font-size: 12px;
    color: #666;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
}



.footer{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: start;
    margin-top: 15vh;
    padding:0 70px;
}
.footer-back{
    position: relative;
    overflow: hidden;
}
.footer-card h3{
    color: #681DFE;
    font-size: 20px;
}
.footer-content{
    padding: 2rem 0;
    line-height: 1.2;
}
.footer-content p{
    color: #7f7f7f;
    letter-spacing: 1px;
}
.footer-content a{
    display: flex;
    line-height: 2.5;
    color: #fff;
    font-size: 15px;
}
.footer-content i{
    margin-top: 13px;
    padding: 0 10px;
}
.icons-footer{
    text-align: center;
    margin: 20px;
}
.color-footer{
    margin-top: 20px;
    text-align: center;
}
.color-footer i{
    margin: 15px;
    background: #fff;
    padding: 10px 12px 10px 12px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s;
}
.color-footer i:hover{
    transition: 0.5s;
    color: #681DFE;
    transform: scale(1.2);
    background: #000;
}
